.main-img
{
  width: 1263px;
  height: 600px;
background-image: url('wp3786960.jpg');
background-repeat: no-repeat;
background-attachment: scroll;
background-size: 100% 100%;
}
#hd-btns{
  margin-right:1%;
  margin-left: 60%;
}
.search-bar{
  padding-top: 7rem;
  padding-left: 12.5rem;
}
.logo{
  height:300px;
   width:400px;
   padding-top:7rem;
   margin-right:10rem;
   margin-left:10rem;
}
