.main-img-div
{
  width: 1263px;
  height: 600px;
background-image: url('wp3786978.jpg');
background-repeat: no-repeat;
background-attachment: scroll;
background-size: 100% 100%;
}
#hd-btns{
  margin-right:0;
  margin-left: 50.5rem;
}

.login-reg-panel{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
	text-align:center;
    width:70%;
	right:0;left:0;
    margin:auto;
    height:400px;
    background-color: rgba(0, 0, 0,0.9); /*Last coordinate is the opacity*/
}
.white-panel{
    background-color: white;
    height:500px;
    position: absolute;
    top:-50px;
    width:50%;
    right:calc(50% - 80px);
 box-shadow: 0 0 15px 9px #00000096;
}
.login-reg-panel{
    color:white;
}
.login-reg-panel #label-login,
.login-reg-panel #label-register{
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:150px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 18px;
}
.login-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    left:0;
    position:absolute;
    text-align:left;
}
.register-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    right:0;
    position:absolute;
    text-align:left;
}
.login-show input[type="text"], .login-show input{
    width: 70%;
    display: block;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 60px;
    padding: 5px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
		}
